<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content >
      <ion-list >
        <div class="item item-divider">
          Find
        </div>   
        <ion-item nav-clear menu-close href="#/app/map" class="dark">
          Map
        </ion-item>  
        <div class="item item-divider-orange">
          Browse 
        </div>     
        <ion-item nav-clear menu-close href="#/app/SanLuisObispo" class="dark">
          San Luis Obispo
        </ion-item> 
        <ion-item nav-clear menu-close href="#/app/SantaBarbara" class="dark">
          Santa Barbara
        </ion-item>        
        <ion-item nav-clear menu-close href="#/app/Ventura" class="dark">
          Ventura
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/LosAngeles" class="dark">
          Los Angeles
        </ion-item>    
        <ion-item nav-clear menu-close href="#/app/OrangeCounty" class="dark">
          Orange County
        </ion-item>  
        <ion-item nav-clear menu-close href="#/app/SanDiego" class="dark">
          San Diego
        </ion-item>          
         <ion-item nav-clear menu-close href="#/app/playlists" class="dark">
          Browse all
        </ion-item>  
<!--          <ion-item nav-clear menu-close href="#/app/SuggestionForm" class="dark">
          Suggest or add to Barnacle
        </ion-item>      -->                                      
      </ion-list>



    </ion-content>
  </ion-side-menu>
</ion-side-menus>