<ion-view view-title="Playlists">
  <ion-content>
	<ion-list>
	  <ion-item ng-repeat="event in events" href="#/app/events/{{event.id}}">



	    <div class="card" >
		  <div class="item item-text-wrap" >
		    <h2>{{event.name}}</h2>
		    <p>{{event.phone}}</p>
	      <p>{{event.address_street}}, {{event.address_city}}, {{event.address_state}} {{event.address_zip}}</p>
	      <p>Hours: {{event.hours}}</p>
	      <!-- <p>{{event.latitude}}</p> -->
	      <!-- <p>{{event.longitude}}</p> -->
	      <hr />





	      <p><img src="img/firepit.png" style="width:25px;height:25px" ng-style="{'opacity' : event.parking == true ? 0.1 : 1}"> {{event.parking ? '&#10004;' : '&#10006;'}}</p>
	      <p>Parking Price: {{event.parking_price}}</p>
	      <p>Lifegaurds: {{event.lifeguard ? '&#10004;' : '&#10006;'}}</p>
	      <p>Restrooms: {{event.restroom ? '&#10004;' : '&#10006;'}}</p>
	      <p>Surfing: {{event.surfing ? '&#10004;' : '&#10006;'}}</p>
	      <p><img src="img/firepit.png" style="width:30px;height:30px"> {{event.firepit ? "&#10004;" : '&#10006;'}}</p>
	      <p>Volleyball: {{event.volleyball ? '&#10004;' : '&#10006;'}}</p>
	      <p>Animal friendly: {{event.dog ? '&#10004;' : '&#10006;'}}</p>
	      <p>Fishing: {{event.fishing ? '&#10004;' : '&#10006;'}}</p>

		    <hr />
	      <p>{{event.description}}</p>
		  </div>
		</div>









	  </ion-item>
	</ion-list>
  </ion-content>
</ion-view>
