<ion-view view-title="Throw us a lifesaver">
  <ion-content>


    <!-- <p>Hi there!</p> -->
    <div class="row grey-text">
    <div>We hope you are enjoying the sunny skies and warm sand with our app. Saw some information that is quite right or want to add some information?</div>
    </div>
    <br />
    <div class="row grey-text">    
    <div>Please click the link below to send over some info to help everyone enjoy their beach trips even more!</div>
    </div>

<br />
	<div class="row">
    <img src="img/lifeguardtrue.png" style="width:75px;height:75px;opacity:0.2;" class="marginLR">
    <br/>
    </div>
    <br/>
    <div class="row">
        <a href="mailto:kevin.curbelo.com?&subject=Throw%20Us%20A%20LifeSaver&body=
        We hope you are enjoying the sunny skies and warm sand with our app. Saw some information that is quite right or want to add some information? Then just fill out the information below and send it on over to us. If you don't know something feel free to leave it blank. %0A

        %0ABeach%20Name:%0A
        Phone number:%0A
        What is the address?:%0A
        Is there any parking close by?:%0A
        If there is how much is it?:%0A
        Are there any lifeguards?:%0A
        Is there any restrooms?:%0A
        Are people allowed to surf?:%0A
        Are there any firepits?:%0A
        Are there any volleyball courts?:%0A
        Is the beach animal friendly?:%0A
        Are people allowed to fish?:%0A
        %0A
        Anything else you want to add? %0A
        %0A
        %0AThank you for helping make Barnacle better!
        " class='button button-energized marginLR'> 
            Throw us a lifesaver
        </a>
	</div>	




    </ion-content>
</ion-view>


			      	