<ion-view view-title="Throw us a lifesaver">
  <ion-content class='bg-color'>
    <!-- <p>Hi there!</p> -->
    <div class="row text-white">
    <div>We hope you are enjoying the sunny skies and warm sand with our app. Saw some information that is quite right or want to add some information?</div>
    </div>
    <br />
    <div class="row text-white">    
    <div>Please click the link below to send over some info that to help everyone enjoy their beach trips even more!</div>
    </div>


    <!-- <img src="img/lifeguard.png" style="width:25px;height:25px;opacity:0.2;"> -->
<!--     	<button ui-sref='app.SuggestionForm' class='button button-calm'>
		Suggest a change or add info
		</button> -->




    </ion-content>
</ion-view>


			      	