<ion-view view-title="Throw us a lifesaver">
  <ion-content>
    <!-- <p>Hi there!</p> -->
    <div class="row grey-text">
    <div>We hope you are enjoying the sunny skies and warm sand with our app. Saw some information that is quite right or want to add some information?</div>
    </div>
    <br />
    <div class="row grey-text">    
    <div>Please click the link below to send over some info to help everyone enjoy their beach trips even more!</div>
    </div>

<br />
	<div class="row">
    <img src="img/lifeguardtrue.png" style="width:75px;height:75px;opacity:0.2;" class="marginLR">
    <br/>
    </div>
    <br/>
    <div class="row">
    	<button ui-sref='app.SuggestionForm' class='button button-energized marginLR'>
		Throw us a lifesaver
		</button>
	</div>	




    </ion-content>
</ion-view>


			      	